*{
  margin: 0px;
  padding: 0px;
}



.header{
  width: 100%;
  height: 57px;
  background-color: black;
}

.nation{
  color:aliceblue;
  margin-left:149px;
}


.key{
  text-align:center;
  color: rgba(160, 160, 160, 0.836);
  margin: 0px 8px 0px 0px;
  padding: 6px 12.3px;
  /* margin-bottom: 5px;  */
  width: 272px;
  height: 28.6px;
  background-color:white;
  border: 1px solid #ced4da;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  float: right;
}

/* 调不了文字位置.k{
display: block;
position: relative;
left: 20px;
} */

.a,.b{
color: rgb(0, 0, 0);
background-color:#6c757d;
width: 5.8rem;
height: 44.6px;
border-radius: 0.375rem;
font-family: inherit;
float: right;
margin: 0px 8px 0px 0px;
}

.search{
color:#ffffff;
}
.sou{
  float: right;
  margin: 0px 8px 0px 0px;
  padding: 10px;
}

.menu{
  padding: 16px;
  padding-bottom: 23px;
  padding-top: 7px;
  /* menu位置不行 不好居中 */
  float: right;
  /* border:55px 97.111px; */
  border-left: 1px solid rgba(156, 143, 146, 0.885);

}

.men{
  color: white;
}

.xiayi{
  float: right;
  padding-top: 6px;
  position: relative;
  right: 102px;
}

a{
  color: #ffffff;
  text-decoration: none;
}

.b:hover{
  background-color: #676767aa;
}

.a:hover{
  background-color: #676767aa;
}





/* .This {
border: solid 2px rgb(190, 17, 17);
border-radius: 2em;
width: 50px;
height: 30px;
color: rgb(155, 30, 30);
padding-top: 10px;
left: 5px;
bottom: 800px;
text-align: center;
position: relative;
background-color: rgb(201, 36, 36);
} */