body{
background-color: black;
color: azure;
line-height: 1.6em;
}

 a:link {
  color:aliceblue;
  text-decoration: none;
}

 a:visited {
  color:aliceblue;
}

 a:hover {
  color:aliceblue;
  text-decoration: underline;
}

