body{
	color: royalblue;
	color: rgb(65, 105, 225);
	color: #4169E1CC;
	color: rgba(39,177,182,0.8);
	color: #2775b6CC;
}
body{
	background-color: royalblue;
}
body{
	background-color: rgb(25%, 41%, 88%);
	background-color: rgb(65, 105, 225);
}
body{
	background-color: #4169E1;
}
body{
	background-color: rgba(39,177,182,0.8);;
	background-color: #2775b6CC;
}